@charset "utf-8";
/* CSS Document */

.inner-banner_content {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 9;
}
.inner-banner_content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 130, 140, 0.65);
  z-index: -1;
}
.inner-banner_title h1 {
  color: #fff;
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--ff-headind);
}
.inner-banner_breadcrumb {
  background-color: #fff;
  border-bottom: 1px solid #ebe8e2;
}
.inner-banner_breadcrumb .breadcrumb {
  background-color: #fff;
  padding: 20px 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.inner-banner_breadcrumb .breadcrumb > li {
  display: inline-block;
  margin: 0;
}
.inner-banner_breadcrumb .breadcrumb > li a {
  color: var(--c-primary);
}
.inner-banner_breadcrumb .breadcrumb > li + li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0 5px;
  color: var(--c-grey-800);
  content: "\f101";
}
.page-breadcrumb {
  background-color: #fff;
  border-bottom: 1px solid #ebe8e2;
}
/* Inner Banner Style 2 */
.custom-inner-banner-2  {
  position: relative;
}
.custom-inner-banner-2 .carousel-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 130, 140, 0.65);
  z-index: 0;
  top: 0;
}
.custom-inner-banner-2 .carousel-item img {
  height: 350px;
  object-fit: cover;
  object-position: top;
}
.custom-inner-banner-2 .carousel-caption {
  right: 0;
  left: 0;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
}
.custom-inner-banner-2 .inner-banner_title h1  {
  text-align: left;
}
.custom-inner-banner-2 .inner-banner-2-wrap > * {
  margin: 0;
}
.custom-inner-banner-2 .inner-banner-2-wrap .inner-banner_breadcrumb .breadcrumb {
  background-color: rgba(209, 220, 255, 0.78);
  padding: 20px 20px;
}
.custom-inner-banner-2 .inner-banner-2-wrap .inner-banner_breadcrumb .breadcrumb > li a {
  color: var(--c-primary-dark);
}
.custom-inner-banner-2 .inner-banner-2-wrap .inner-banner_breadcrumb .breadcrumb {
  color: #3F3F3F;
}
.inner-banner_breadcrumb .breadcrumb > li:not(:last-child):before{
  color: var(--c-primary-dark);
}


.inner-property-quick-details {
  padding: 20px 0;
  box-shadow: 5px 5px 5px rgba(224, 224, 224, 0.5);
}
.property-quick-details .icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #969696;
  font-weight: 600;
  font-family: var(--ff-headind);
}
.property-quick-details .icon img {
  width: 25px;
  height: 25px;
}
.property-quick-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: relative;
  margin: 0;
  padding: 0 75px;
}
.property-quick-details::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  right: 0;
  background-color: #e1e0e0;
}
.property-quick-details h5 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 300;
  color: #7a7a7a;
}
.property-price-cat > * {
  margin: 0;
}
.listing-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.listing-info .published  {
  position: relative;
}
.listing-info .published::before {
  height: 100%;
  position: absolute;
  content: '';
  width: 1px;
  background-color: #000;
  right: -9px;
}
.listing-useful_links {
  display: flex;
  gap: 16px;
  align-items: center;
}
.useful-info .property-price-cat {
  padding: 0;
  gap: 30px;
}
.listing-useful_links a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  background-color: #eff0f1;
  color: var(--c-primary-dark);
  font-size: 19px;
  border-radius: 50%;
}
.listing-useful_links a:hover {
  background-color: var(--c-primary-dark);
  color: #fff;
}


.property-name.ms-0 h4 {
  font-size: 35px;
  font-weight: 700;
  color: #393939;
}
.property-name .location {
  color: #393939;
  font-size: 20px;
  padding: 10px 0 0 0;
}
.property-name .location span {
  color: #e93737;
  padding-right: 7px;
}
.property-rate.me-0 span {
  font-size: 35px;
  font-weight: 700;
}
.slider-top {
  padding-top: 25px;
}
.property-desc-content {
  box-shadow: 5px 5px 25px rgba(217, 217, 217, 0.5);
  padding: 75px 80px;
}
.property-desc-c .custom-heading {
  padding-bottom: 35px;
}
.property-paragraph p {
  font-size: 18px;
  font-family: var(--ff-headind);
  font-weight: 400;
  color: var(--c-dark-grey);
  line-height: 30px;
  padding-bottom: 20px;
}
.property-custom-list li {
  font-size: 18px;
  color: var(--c-dark-grey);
  font-family: var(--ff-headind);
  line-height: 35px;
  padding-left: 32px;
  position: relative;
}
.property-custom-list li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;
  left: 0;
  font-size: 22px;
  top: 1px;
  color: var(--c-primary);
}


.outer { 
  margin:0 auto; 
  padding-top: 30px;
}
#big .item { 
  margin:2px; 
  color: #FFF; 
  border-radius: 3px; 
  text-align: center; 
}
#big .item  img {
  max-height: 500px;
  object-fit: cover;
}
#thumbs .item { 
  background: #C9C9C9; 
  line-height:70px; 
  padding: 0px; 
  margin: 10px; 
  color: #FFF; 
  border-radius: 3px; 
  text-align: center; 
  cursor: pointer; 
}
#thumbs .item h1 { 
  font-size: 18px; 
}
#thumbs .current .item { 
  background:#FF5722; 
}
.owl-theme .owl-nav [class*='owl-'] { 
  transition: all .3s ease; 
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover { 
  background-color: #D6D6D6; 
}
#big.owl-theme { 
  position: relative; 
}
#big.owl-theme .owl-next, #big.owl-theme .owl-prev {
  background: #fff;
  width: 50px;
  line-height: 40px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--c-primary);
  font-size: 18px;
}
#big.owl-theme .owl-prev { 
  left: 10px; 
}
#big.owl-theme .owl-next { 
  right: 10px; 
}
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { 
  background:#333; 
}
#thumbs .owl-nav, #thumbs .owl-dots {
  display: none;
}
.property-location iframe {
  width: 100%;
}

.property-features {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.property-features .feature {
  background-color: #fafafa;
  border-bottom: 5px solid var(--c-primary-dark);
  border-radius: 8px;
  padding: 35px 25px;
  display: flex;
flex-direction: column;
margin: 0;
flex: 0 0 23%;
justify-content: space-between;
}
.property-features .feature img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.property-features .feature h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--ff-headind);
  color: var(--c-dark-grey);
  margin-top: 12px;
}
.property-features .feature h6 {
  font-weight: 700;
  font-size: 22px;
}
.property-list-amenities li::before {
  content: "";
  position: absolute;
  background-image: url('../images/check.png');
  width: 30px;
  height: 30px;
  left: 0;
  top: 50%;
  font-family: unset;
  background-size: contain;
  transform: translateY(-50%);
}
.property-list-amenities {
  display: flex;
  justify-content: center;
gap: 45px;
}
.property-list-amenities li {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-main-f);
}
.property-desc-c .custom-heading h4 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #7c7c7c;
}



.property-contact-form {
  background-color: rgba(14, 198, 213, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid #0db0be;
}
.property-contact-form .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 20px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}
.property-contact-form .form-control::placeholder {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: var(--ff-headind);
}
.wrapper.property-contact-form.show .custom-button {
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.wrapper {
  position: fixed;
  right: -370px;
  bottom: 50px;
  max-width: 345px;
  width: 100%;
  border-radius: 8px;
  padding: 30px 25px 30px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.wrapper.show {
  right: 20px;
}
.title-box {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: #4070f4;
  margin-bottom: 15px;
}
.title-box i {
  font-size: 32px;
}
.title-box h3 {
  font-size: 24px;
  font-weight: 500;
}
.info {
  margin-bottom: 15px;
}
.info p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.info p a {
  color: #4070f4;
  text-decoration: none;
}
.info p a:hover {
  text-decoration: underline;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.button {
  width: calc(100% / 2 - 10px);
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #4070f4;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #031bf1;
}


.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }

/* about */
.inner-about-left .custom-heading {
  padding-bottom: 20px;
}
.inner-about-right .custom-video {
  background-attachment: initial;
}
.inner-about-left .custom-paragraph p:not(:last-child) {
  padding-bottom: 15px;
}
.inner-about-left .custom-paragraph p {
  font-size: 16px;
  line-height: 29px;
}
.counter-up-wrapper {
  padding-top: 20px;
}
.count-icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.count-icon img {
  width: 100%;
}
.counter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(222, 222, 222, 0.5);
  padding: 25px 25px;
}
.counter-content > * {
  margin: 0;
}
.count-number-and-unit.secondary-font {
  font-size: 24px;
  font-weight: 700;
  color: var(--c-dark-grey);
  padding-top: 10px;
}
.count-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--c-main-f);
}
.custom-partners-owl .item img {
  height: 100px;
  object-fit: contain;
}
.custom-partners-owl .item {
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 30px 0;
}
.custom-partners .custom-heading {
  padding-bottom: 40px;
}
.inner-about-right .about-right-image {
  text-align: right;
  position: relative;
}
.inner-about-right .about-right-image::after {
  position: absolute;
  content: '';
  background-color: var(--c-primary);
  width: 40%;
  height: 40%;
  top: -28px;
  left: 28px;
  z-index: -1;
  opacity: 0.75;
  border-radius: 30px 0 0px 0px;
}
.inner-about-right .about-right-image::before {
  position: absolute;
  content: '';
  background-color: var(--c-primary);
  width: 40%;
  height: 40%;
  bottom: -28px;
  right: -28px;
  z-index: -1;
  opacity: 0.75;
  border-radius: 0 0 30px 0px;
}
.inner-about-right .about-right-image img {
  border-radius: 30px 0 30px 0px;
}
/* about */

@media (min-width: 1920px) and (max-width: 2500px){

}

@media (min-width: 1600px) and (max-width: 1700px){

}
@media (min-width: 1500px) and (max-width: 1600px){

}
@media (min-width: 1400px) and (max-width: 1500px){

}
@media (min-width: 1300px) and (max-width: 1400px){

}

@media (min-width: 1200px) and (max-width: 1300px){

}

@media (min-width: 1024px) and (max-width: 1200px){
  .custom-inner-banner-2 .carousel-item img {height: 300px;}
  .inner-banner_title h1 {font-size: 40px;}
  .property-quick-details {padding: 0 50px;}
  .custom-inner-banner-2 .inner-banner-2-wrap .inner-banner_breadcrumb .breadcrumb {padding: 15px 15px;}

  .slider-top {padding-top: 15px;}
  .inner-property-slider.custom-pad {padding-bottom: 40px;}
  .property-desc-content {padding: 45px 50px;}
  .property-desc-c .custom-heading {padding-bottom: 25px;}
  /* .property-features .feature {flex: 0 0 23%;} */
}

@media (min-width: 992px) and (max-width: 1024px) {
  .custom-inner-banner-2 .carousel-item img {height: 300px;}
  .inner-banner_title h1 {font-size: 40px;}
  .property-quick-details {padding: 0 50px;}
  .custom-inner-banner-2 .inner-banner-2-wrap .inner-banner_breadcrumb .breadcrumb {padding: 15px 15px;}

  .slider-top {padding-top: 15px;}
  .inner-property-slider.custom-pad {padding-bottom: 40px;}
  .property-desc-content {padding: 45px 50px;}
  .property-desc-c .custom-heading {padding-bottom: 25px;}
  /* .property-features .feature {flex: 0 0 23%;} */
}

@media only screen and (max-width: 991.98px) {
  .custom-inner-banner-2 {margin-top: 70px;}
  .inner-banner-2-wrap {flex-direction: column;justify-content: center !important;gap: 10px;}
  .custom-inner-banner-2 .inner-banner_title h1 {text-align: center;font-size: 32px;}
  .custom-inner-banner-2 .carousel-item img {height: 280px;}
  .inner-banner_title h1 {font-size: 40px;}
  .property-quick-details {padding: 0 50px;}
  .custom-inner-banner-2 .inner-banner-2-wrap .inner-banner_breadcrumb .breadcrumb {padding: 15px 15px;}

  .slider-top {padding-top: 15px;}
  .inner-property-slider.custom-pad {padding-bottom: 40px;}
  .property-desc-content {padding: 35px 30px;}
  .property-desc-c .custom-heading {padding-bottom: 25px;}
}


@media (max-width: 767.98px){
  .custom-inner-banner-2 {margin-top: 61px;}
  .custom-inner-banner-2 .inner-banner_title h1 {font-size: 28px;}
  .custom-inner-banner-2 .inner-banner-2-wrap .inner-banner_breadcrumb .breadcrumb {padding: 10px 12px;}
  .inner-banner_breadcrumb {display: none;}


}

@media (max-width: 575.98px){

  .custom-inner-banner-2 .inner-banner_title h1 {font-size: 26px;}
  .inner-banner_breadcrumb {display: none;}
  .custom-inner-banner-2 .carousel-item img {height: 250px;}
}

@media only screen and (max-width: 480.98px) {	

}

