/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/******** Color Schemes ********/

:root {
  --c-primary: #0ec6d5;
  --c-primary-dark: #234dd4;
  --c-white: #ffffff;
  --c-blue: #0012A2;
  --c-red: #F12D2D;
  --c-main-f:#8c8a8a;
  --c-black-text: #000000;
  --c-light-grey: #C0C0C0;
  --c-dark-grey: #4F4F4F;
  --c-primary-text: #FF5600;
  --c-secondary-text: #2D2D2D;
  --c-semi-grey: #666666;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-headind: 'Poppins', sans-serif;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
  /* position: relative; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  width: 100%;
  max-width: 1440px;
}

/* Custom Properties */
.custom-pad {
  padding: 70px 0;
}
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #d1dcff;
  color: var(--c-primary-dark);
  font-family: var(--ff-primary);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 20px;
  height: 57px;
  border-radius: 4px;
  position: relative;
	gap: 0 14px;
}
.custom-button span {
  font-size: 20px;
}
.custom-button:hover {
  background-color: var(--c-primary);
  color: #fff;
}
/* Custom Heading */

.custom-heading h5 {
  position: relative;
	padding: 9px 24px;
	color: #9c9c9c;
	text-transform: uppercase;
  font: 300 15px var(--ff-primary);
  overflow: hidden;
  line-height: 24px;
  width: fit-content;
}

.custom-heading h5 span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #0ec6d5, #0ec6d5);
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.custom-heading h5 span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient(to bottom, #0ec6d5, #0ec6d5);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.custom-heading h5 span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #0ec6d5, #0ec6d5);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.custom-heading h5 span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient(to top, #0ec6d5, #0ec6d5);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
.custom-heading h3 {
  font: 700 43px var(--ff-headind);
  text-transform: capitalize;
  line-height: 51px;
  padding-top: 19px;
}
/* Custom Properties */

/* =========================header-custom===================== */
/* navbar toggle */
.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggler {
  border-color: #5f4b8b;
  background: #5f4b8b;
  outline: none;
}

.navbar-toggler {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-header {
  display: none;
}

header.custom-header {
  background-color: var(--c-black-text);
}
.custom-header .navbar-nav {
  gap: 0 40px;
}
.custom-header .navbar-nav .nav-item .nav-link {
  padding: 0;
  font-family: var(--ff-primary);
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.custom-header .navbar-nav .nav-item .nav-link.dropdown-toggle  {
  padding-right: 21px;
}
.custom-header .navbar-nav .nav-item .nav-link.active  {
  color: var(--c-primary);
}
.custom-header .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
  position: absolute;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  border: none;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.custom-header .navbar-nav .nav-item .nav-link.dropdown-toggle.show::after {
  content: "\f068";
  transition: all 0.5s ease-in-out;
}
/* =========================header-custom===================== */
/* =========================banner-custom===================== */
.custom-banner  {
  position: relative;
}
.carousel-item {
  position: relative;
}
.carousel-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 55, 67, 0.7);
  z-index: 0;
  top: 0;
}
.carousel-caption {
  z-index: 9;
}
.banner-search-tabs {
  position: absolute;
  bottom: 130px;
  max-width: 1440px;
  z-index: 999;
  right: 0;
  left: 0;
}
.banner-search-tabs .search-form-b {
  display: flex;
  gap: 0 32px;
  align-items: center;
}
.banner-search-tabs .search-form-b input {
  width: 100%;
  height: 51px;
  border: none;
}
.banner-search-tabs .search-form-b .form-control-wrap {
  width: 100%;
  position: relative;
}
.banner-search-tabs .search-form-b .form-control-wrap::after {
  background-image: url("../images/banner-location-search-icon.webp");
  content: '';
  position: absolute;
  width: 12px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
}
.banner-search-tabs .search-form-b .form-button input {
  height: 51px;
  width: 260px;
  background-color: var(--c-primary);
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}
.banner-search-tabs .search-form-b .form-control-wrap input {
  padding: 25px;
}
.banner-search-tabs .nav-tabs {
  justify-content: start;
  gap: 5px;
  border: none;
}
.banner-search-tabs .nav-tabs .nav-item {
  margin: 0;
}
.banner-search-tabs .tab-content .tab-pane {
  background-color: #f0f0f0;
  padding: 41px 32px 30px;
  border-radius: 0px 10px 10px 10px;
}
.banner-search-tabs .nav-tabs .nav-item .nav-link {
  margin: 0;
  width: 176px;
  height: 65px;
  background-color: #234dd4;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
}
.banner-search-tabs .nav-tabs .nav-item .nav-link.active  {
  background-color: #fff;
  color: #234dd4;
}
.banner-search-tabs .nav-tabs .nav-item .nav-link > * {
  margin: 0;

}
.banner-search-tabs .nav-tabs .nav-item .nav-link::before {
  content: '';
  position: absolute;
  background-image: url("../images/banner-search-icon.png");
  width: 20px;
  height: 20px;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
}
.banner-search-tabs .nav-tabs .nav-item .nav-link.active::before{
  background-image: url("../images/banner-search-icon.png");
}
.custom-banner .carousel-caption h2 {
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--ff-headind);
}
.custom-banner .carousel-caption p {
  font-size: 15px;
  font-weight: 300;
  color: #e0e0e0;
  line-height: 24px;
}
.custom-banner .carousel-caption {
  bottom: unset;
  top: 37%;
  transform: translateY(-50%);
}
/* =========================banner-custom===================== */
/* =========================about-custom===================== */
/* About US */
.custom-about .custom-heading {
  padding-bottom: 25px;
}
.about-right {
  position: relative;
	padding: 170px 0 0 180px;
  margin-left: 35px;
}
.about-image-top {
	border: 20px solid #f1f1f1;
	border-radius: 6px;
	position: absolute;
	left: 0;
	top: 0;
	width: 539px;
	height: 605px;
	background-color: #f1f1f1;
}
.about-image-top img {
	height: 100%;
	width: 100%;
	border-radius: 6px;
}
.about-image-bottom img {
  width: 100%;
}
.about-left .custom-paragraph {
  padding-right: 15px;
}
.about-left .custom-list	{
	column-count: 2;
	margin-top: 38px;
}
.about-left .custom-list span {
  display: inline-flex;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.about-left .custom-list li	{
	font: 300 15px var(--ff-primary);
	color: #8c8a8a;
	font-size: 15px;
	padding: 0 0 0 60px !important;
  margin-bottom: 55px;
	position: relative;
}

.custom-button-alt {
  background-color: var(--c-primary);
  color: #fff;
  height: 57px;
  padding: 0 44px;
}
.custom-button-alt:hover {
  color: var(--c-primary-dark);
  background-color: #d1dcff;
}
/* =========================about-custom===================== */
/* =========================rent-sale-custom===================== */
/* for sale */
.sale-rent-card {
  position: relative;
	border-radius: 8px;
	margin: 0 7px;
}
.sale-rent-card .property-actions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 0 4px;
  right: 18px;
  top: 11px;
}
.sale-rent-card .property-actions li {
  margin: 0;
}
.sale-rent-card .property-actions li a {
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: rgba(31 31 31 / 0.54);
  border-radius: 50%;
	color: #fff;
}
.property-image img {
  width: 100%;
	border-radius: 8px 8px 0 0;
  height: 297px;
  object-fit: cover;
}
.property-price-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 18px 22px 0;
}
.property-price-cat .categories {
  display: flex;
  align-items: center;
  gap: 0 9px;
}
.property-price-cat .categories span {
  display: inline-flex;
	padding: 6px 17px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
}
.bg-orange	{
	background-color: #ff6935;
}
.bg-secondary	{
	background-color: var(--c-primary-dark) !important;
}
.bg-primary	{
	background-color: var(--c-primary) !important;
}
.property-price-cat .price {
  margin: 0;
}
.property-price-cat .price span {
  font: 700 19px var(--ff-headind);
}
.property-desc {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  padding: 25px 22px 35px;
	position: relative;
}
.property-desc::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #efefef;
  bottom: 0;
  left: 0;
}
.property-desc h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
	margin: 0;
	display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.property-desc address {
  margin: 0;
  font-size: 14px;
  color: #8c8a8a;
  font-weight: 400;
}
.property-desc address .location-pin {
  color: var(--c-primary);
  font-size: 15px;
}
.property-details-g {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 14px 35px 19px;
}
.property-details-g > * {
  margin: 0;
  font-size: 14px;
  color: #8c8a8a;
  font-weight: 400;
}
.property-details-g span {
  color: var(--c-primary);
  font-size: 14px;
  padding-right: 5px;
}
.custom-sale-button {
  padding-top: 45px;
}
.custom-sale .custom-paragraph {
  padding:  20px 0 55px;
  width: 47%;
}
.custom-sale .custom-paragraph p {
  line-height: 25px;
}
.custom-sale.custom-rent .sale-rent-card .property-desc a {
  margin: 0 0;
  color: var(--c-black-text);
}
.custom-sale .sale-rent-card .property-desc a {
  margin: 0 0;
  color: var(--c-black-text);
}
/* for sale */
.custom-rent .custom-heading {
  padding-bottom: 47px;
}
.custom-rent {
  background-color: #fafafa;
}
.custom-rent .sale-rent-card {
  background-color: #fbfbfb;
}
/* =========================rent-sale-custom===================== */
/* =========================why-choose-custom===================== */
/* why choose */
.expertise-bg	{
  height: 780px;
  clip-path: ellipse(65% 78% at 34% 50%);
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.expertise-right .custom-heading {
  color: #fff;
  padding-bottom: 75px;
}
.expertise-right .custom-heading h5 {
  margin: 0;
}
.custom-list li {
  gap: 0 20px;
}
.custom-list li > * {
  margin: 0;
}
.custom-list li:not(:last-child) {
  padding-bottom: 35px;
}
.custom-list li .content {
  gap: 16px 0;
  display: flex;
  flex-direction: column;
}
.custom-list .content h4 {
  color: #fff;
  font: 500 20px var(--ff-headind);
  line-height: 16px;
  margin: 0;
}
.custom-list .content p {
  color: #8c8a8a;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  width: 68%;
}
/* =========================why-choose-custom===================== */
/* =========================specialists-custom===================== */
/* Specialists */
.custom-specialist {
  padding: 100px 0;
	position: relative;
}
.custom-specialist::after {
  content: '';
  position: absolute;
  width: 579px;
  height: 100%;
  background-color: var(--c-primary);
  right: 0;
  top: 0;
  z-index: -1;
}
.custom-paragraph p {
  color: #8c8a8a;
  font-size: 15px;
  line-height: 34px;
  font-weight: 300;
}
.custom-paragraph p:not(:last-child) {
  padding-bottom: 28px;
}
.specialist-left {
  padding-right: 20px;
}
.specialist-left .custom-heading {
  padding-bottom: 33px;
}
.specialist-left .custom-heading h5 {
  margin: 0;
}
.specialist-left .custom-heading h3 {
	line-height: 65px;
}
.specialist-right img {
  width: 100%;
}
/* Specialists */
/* ========================specialists-custom===================== */
/* =========================video-modal-custom===================== */
/* Video Modal */
.custom-video		{
	position: relative;
	height: 760px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 9999;
}
.custom-video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 0.4);
  z-index: -1;
}
.custom-video .modal-dialog {
  max-width: calc(100% - 10%);
}
.custom-video .modal-dialog .modal-body {
  margin: 0;
}
.custom-video .modal-dialog iframe {
  width: 100%;
	height: 100%;
}
.custom-video .modal-dialog .modal-content {
  height: 600px;
}
.modal-content .cus-close {
	position: absolute;
	right: -10px;
	top: -10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #fb0e0e;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	z-index: 999999;
}
.modal-content .cus-close::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f00d";
	position: absolute;
	font-size: 16px;
	color: #fff;
}

.custom-video .media-play {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: inline-flex;
  width: 124px;
  height: 124px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--c-primary);
  border-radius: 50%;
  border: 0;
}
.custom-video .media-play::before {
  position: absolute;
  content: '';
  -webkit-animation: ping 1s ease-in-out infinite both;
	animation: ping 1s ease-in-out infinite both;
	width: 160px;
	height: 160px;
	background-color: rgba(255 255 255 / 0.31);
	z-index: -3;
	border-radius: 50%;
}
.ping {
	-webkit-animation: ping 0.8s ease-in-out infinite both;
					animation: ping 0.8s ease-in-out infinite both;
}
@-webkit-keyframes ping {
0% {
	-webkit-transform: scale(0.2);
					transform: scale(0.2);
	opacity: 0.8;
}
80% {
	-webkit-transform: scale(1.2);
					transform: scale(1.2);
	opacity: 0;
}
100% {
	-webkit-transform: scale(2.2);
					transform: scale(2.2);
	opacity: 0;
}
}
@keyframes ping {
0% {
	-webkit-transform: scale(0.2);
					transform: scale(0.2);
	opacity: 0.8;
}
80% {
	-webkit-transform: scale(1.2);
					transform: scale(1.2);
	opacity: 0;
}
100% {
	-webkit-transform: scale(2.2);
					transform: scale(2.2);
	opacity: 0;
}
}
/* Video Modal */
/* ========================video-modal-custom===================== */
/* =========================our-agents-custom===================== */
/* Our Agents */
.custom-teams .custom-heading.text-center {
  padding-bottom: 5px;
}
.custom-team-box {
  width: 100%;
  margin: 5% auto 0 auto;
  position: relative;
  z-index: 1;
  background-size: cover;
}

.custom-team-box::before, .custom-team-box::after {
  content: "";
  position: absolute;
  z-index: 3;
  display: block;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #b0dcd9;
  transition: all 0.2s linear;
}
.custom-team-box::before {
  width: 0;
  height: 95%;
  border-left: 0;
  border-right: 0;
}
.custom-team-box::after {
  width: 95%;
  height: 0;
  border-top: 0;
  border-bottom: 0;
}

.team-card:hover .custom-team-box::before {
  width: calc(95% + 0px);
}
.team-card:hover .custom-team-box::after {
  height: 95%;
}
.team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
	background-color: rgba(14 198 213 /0.52);
	bottom: -100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.team-card:hover .custom-team-box .team-overlay {
  opacity: 1;
  bottom: 0;
}
.custom-team-box .team-image-wrap {
  position: relative;
  overflow: hidden;
}
.custom-team-box .team-image-wrap img {
  width: 100%;
	height: 400px;
	object-fit: cover;
}
.team-card:hover .custom-team-box .team-overlay .btn-view {
  transform: translate(-50%, -50%);
}
.custom-team-box .team-overlay .btn-view {
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%) scale3d(0, 0, 0);
  transition: all 0.5s ease-in-out;
  z-index: 999;
  justify-content: center;
	width: 100%;
	gap: 7px;
}
.custom-team-box .team-overlay .btn-view > * {
  margin: 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
	color: var(--c-primary-dark);
  font-size: 13px;
}
.custom-team-box .team-overlay .btn-view > *:hover {
	background-color: var(--c-primary-dark);
	color: #fff;
}
.team-card .member-desc {
  background-color: #f8f8f8;
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px 0;
}
.team-card .member-desc h4 {
  font: 700 25px var(--ff-headind);
  text-transform: uppercase;
  line-height: 25px;
}
.team-card .member-desc p {
  font: 400 15px var(--ff-primary);
  color: #8c8a8a;
  line-height: 24px;
}
/* Our Agents */
/* ========================our-agents-custom===================== */
/* =========================footer-custom===================== */
/* Footer */
.custom-footer {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0 42px;
}
.custom-footer::after {
  content: '';
  position: absolute;
  background-color: rgba(49, 49, 49, 0.82);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.footer-title h3 {
  font-size: 20px;
  line-height: 51px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--ff-headind);
  position: relative;
  width: fit-content;
  margin: 0;
}
.footer-title h3::after {
  content: '';
  position: absolute;
  width: 31px;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
.footer-title h3::before {
  content: '';
  position: absolute;
  width: 72%;
  height: 2px;
  background-color: var(--c-primary);
  bottom: 0;
  left: 35px;
}
.footer_text p {
  font-size: 15px;
  color: #d8d8d8;
  line-height: 30px;
  font-weight: 300;
  margin-top: 12px;

}
.footer_socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
  padding-top: 25px;
}
.footer_socials > * {
  margin: 0;
}
.footer_socials a {
  display: inline-flex;
  width: 21px;
  height: 21px;
  background-color: var(--c-primary);
  color: #4c4e4c;
  border-radius: 50%;
  align-items: center;
  font-size: 12px;
}
.footer_link {
  position: relative;
  padding-left: 20px;
  font-size: 15px;
  line-height: 35px;
  color: #d8d8d8;
  font-weight: 300;
}
.footer_link::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f101";
  position: absolute;
  left: 0;
  font-size: 12px;
  top: 50%;
  color: var(--c-primary);
  transform: translateY(-50%);
}
.footer_link:hover {
  color: var(--c-primary);
}
.footer_col {
  flex: 0 0 auto;
  margin: 0;
}
.footer_col:first-child {
  flex: 0 0 35%;
}
.footer-subs-form-wrap input {
  height: 40px;
  background-color: transparent;
  color: #aaa;
  border: 0;
  border-bottom: 1px solid #737373;
  min-width: 266px;
  margin-bottom: 20px;
  padding-left: 7px;
}
.footer-subs-form-wrap input[type="button"] {
  background-color: var(--c-primary);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  height: 51px;
  margin-top: 15px;
  padding: 0;
}
.footer-title {
  margin-bottom: 18px;
}
.custom-copyright {
  background-color: #313131;
  padding: 16px 0;
}
.custom-copyright p {
  color: #dadada;
  font-size: 15px;
}
.footer-contact-list .footer_link::after  {
  display: none;
}
.footer_link span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--c-primary);
}
/* Footer */

/*Property-listing Inner-page*/
.property-listing .sale-rent-card {
  margin-bottom: 40px;
  background-color: #f0f0f0;
}
.property-listing .custom-sale-button {
  padding-top: 0px;
}
.property-listing .property-desc::before {
  background-color: #fff;
}
.property-listing .custom-heading {
  padding-bottom: 0px;
}

/*Contact Us*/
.inner-contact-form .form-control {
  border-bottom: 1px solid var(--c-light-grey) !important;
  border: 1px solid transparent;
  border-radius: 0;
  font: 400 15px var(--ff-primary);
  padding: 0px 0px 10px 10px;
  background-color: transparent;
}
.inner-contact-form .form-control::placeholder {
  color: var(--c-light-grey);
}
.inner-contact-form .checkbox-wrap {
  display: flex;
  justify-content: left;
  gap: 70px;
}
.inner-contact-form-wrap {
  margin-top: 80px;
  background-color: #fafafa;
  padding: 70px 30px 40px;
  border-radius: 20px;
  border-bottom: 1px solid var(--c-light-grey);
}
.inner-contact-form .checkbox-wrap .radio-checkbox {
  margin: 0 0;
}
.inner-contact-form .checkbox .radio-checkbox-2 {
  margin-top: 30px;
}
.inner-contact-form .checkbox {
  margin-top: 40px;
}
.inner-contact-form .checkbox .form-check-input[type="checkbox"] {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  margin-top: 0;
}
.inner-contact-form .checkbox .form-check-label {
  padding-left: 12px;
  font-family: var(--ff-primary);
  font-size: 16px;
  color: var(--c-dark-grey);
  font-weight: 400;
}
.inner-contact-form .checkbox .form-check-label a {
  color: var(--c-dark-grey);
  text-decoration: underline;
}
.inner-contact-form .inner-contact-form-btn {
  text-align: center;
  margin-top: 40px;
}
.inner-contact-form .inner-contact-form-btn input {
  background-color: #d1dcff;
  color: var(--c-primary-dark);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  height: 51px;
  padding: 0;
  min-width: 200px;
  transition: all 0.3s ease-in-out;
}
.inner-contact-form .inner-contact-form-btn input:hover {
  background-color: var(--c-primary);
  color: #fff;
}
/*Privacy policy*/
.privacy-policy-content {
  margin-top: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  padding: 40px;
  border-radius: 25px;
}
.privacy-policy-content .privacy-policy-list h4 {
  font: 600 24px var(--ff-headind);
  padding: 15px 0 8px 0;
}
.privacy-policy.custom-pad .custom-heading {
  text-align: center;
}
.privacy-policy.custom-pad .custom-heading .ms-0 {
  margin: 0 auto !important;
}